.movieContainer {
    display: flex;
}

.info {
    padding: 16px;
}

.poster {
    padding: 16px;
}

.sublist {
    list-style: none;
    display: flex;
}

.sublink {
    display: inline-block;
    margin: 12px;
    padding: 4px 8px;
    text-decoration: none;
    color: #2c2c2c;
    border-right: 1px solid #2c2c2c;
    border-top: 1px solid #2c2c2c;
    border-top-right-radius: 4px;
}

.activeSublink {
    display: inline-block;
        margin: 12px;
        padding: 4px 8px;
        text-decoration: none;
        color: #ff971e;
        border-right: 1px solid #ff971e;
        border-top: 1px solid #ff971e;
        border-top-right-radius: 4px;
}

.sublink:hover {
    color: #ff971e;
    border-color: #ff971e;;
}

